{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que <a href="{{ path('app_user') }}"> {{ app.user.Prenom }} {{ app.user.Nom }}</a>
            <br> 
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

{% if not app.user %}
    <h1 >Bienvenue sur la base de données des animaux</h1> 
    <h3>Merci de vous connecter </h3>
    <br>
    <label for="inputEmail">Adresse mail</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" 
    class="form-control" autocomplete="email" required autofocus>
    <br>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" 
    autocomplete="current-password" required>
    <br>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Envoyer
    </button>

{% endif %}
</form>

{# pour filtrer suivant les roles  #}
{# {% if not is_granted('ROLE_MANAGER') %}
my message 
{% endif %}
[14:08]
{# {{ is_granted('ROLE_MANAGER') ? 'true message' : 'false message' }} #}
{% endblock %} 
