{% extends 'base.html.twig' %}

{% block title %}Crea et modif Personne{% endblock %}

{% block body %}
<style></style>

<div class="p-3 mb-2 bg-success text-white">

<h1> Création et modification des personnes </h1>
</div>

    {{ form_start(formpers)}} 
    <br>
    {{ form_widget(formpers) }} 
    <br>
    <input type = 'submit' value = 'Envoyer'> 
    <br>    
    {{ app.user }}
    dump {{user}}
    {{ form_end(formpers) }} 
   
{% endblock %}
